" Load vim config file
source ~/.vimrc

" Basic Settings
" Fixed the problem that p paste cannot import class automatically, https://youtrack.jetbrains.com/issue/VIM-25/VIM-code-paste-should-be-smarter
set clipboard+=ideaput,unnamed

" Tab switch
" Equal to Command + Shift + [
nnoremap E gT
" Equal to Command + Shift + ]
nnoremap R gt
nnoremap W 1gt
" nnoremap T $gt
nnoremap T 1gtgT
" Tab move
" Move current tab to left
nmap th :tabm-1 <CR>
" Command + Shift + ,
nmap <D-S-,> :tabm-1 <CR>
" Move current tab to far left
nmap tH :tabm 0 <CR>
" Move current tab to right
nmap tl :tabm+1 <CR>
" Command + Shift + .
nmap <D-S-.> :tabm+1 <CR>
" Move current tab to far right
nmap tL :tabm $<CR>

" Split and move right
" map ml <Action>(MoveTabRight)
" Split and move down
" map mj <Action>(MoveTabDown)

" Plugins
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" Input method
" IdeaVimExtension
set keep-english-in-normal-and-restore-in-insert
let context_aware=1
" set keep-english-in-normal

" vim-multiple-cursors
set multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap <leader><C-n> <Plug>AllOccurrences
xmap <leader><C-n> <Plug>AllOccurrences
nmap <C-s> <Plug>SkipOccurrence
xmap <C-s> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
" IDEA multiple cursors
nmap gm vipVxu

" IdeaVim-EasyMotion
set easymotion
map <Leader> <Plug>(easymotion-prefix)
" Search for full-screen words
map <Leader>w <Plug>(easymotion-bd-w)
" Search for full-screen matches
map <Leader>f <Plug>(easymotion-s)

" IDEA action
" Window
map tt <Action>(ActivateProjectToolWindow)
map ss <Action>(SelectInProjectView)

" Project
map tp <Action>(ManageRecentProjects)

" Coding
map <leader>rn <Action>(RenameElement)
" map sn <Action>(GotoNextError)
" map sp <Action>(GotoPreviousError)
" Equal ⌘ + ⌥ + Left
map <C-o> <Action>(Back)
" Equal ⌘ + ⌥ + Right
map <C-i> <Action>(Forward)
map <leader>e <Action>(ShowErrorDescription)
map <leader>a <Action>(Annotate)
" File outline
map <leader>o <Action>(FileStructurePopup)
nnoremap gI gi
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gu <Action>(GotoSuperMethod)

" Git
map ge <Action>(Git.Branches)
map gh <Action>(Vcs.ShowTabbedFileHistory)
vmap gh <Action>(Vcs.ShowHistoryForBlock)
map gc <Action>(CompareClipboardWithSelection)

" Bookmarks
" Bookmark list Equal ⇧ + F11
map ml <Action>(ShowBookmarks)
map me <Action>(GotoNextBookmark)
map mb <Action>(GotoPreviousBookmark)
map mm <Action>(ToggleBookmark)

" Debug
map <leader>d <Action>(RunDashboard.Debug)
" Equal ⌘ + F8
map <leader>b <Action>(ToggleLineBreakpoint)

" Stop
map <leader>s <Action>(Stop)

" View mode
map <leader>z <Action>(ToggleZenMode)

" Close all tabs
" map ca <Action>(CloseAllEditors)
" Close other tabs
nmap co <Action>(CloseAllEditorsButActive)
" Close right tabs
nmap cl <Action>(CloseAllToTheRight)
" Close left tabs
nmap ch <Action>(CloseAllToTheLeft)
" Close all tabs in group
nmap cg <Action>(CloseAllEditors)

" Close project
map Q <Action>(CloseProject)

" Move to next vcs change
map gj <Action>(VcsShowNextChangeMarker)
" Move to prev vcs change
map gk <Action>(VcsShowPrevChangeMarker)

" Move to opposite group
map mo <Action>(MoveEditorToOppositeTabGroup)

" Open tab in new window
map mw <Action>(EditSourceInNewWindow)

" Change splitter orientation
map sr <Action>(ChangeSplitOrientation)

" Format
map <leader>cf <Action>(ReformatCode)

" Search files
map <leader><leader> <Action>(GotoFile)

" Find in files
map <leader>/ <Action>(FindInPath)
