" Load vim config file
source ~/.vimrc

" Basic Settings
" Fixed the problem that p paste cannot import class automatically, https://youtrack.jetbrains.com/issue/VIM-25/VIM-code-paste-should-be-smarter
set clipboard+=ideaput,unnamed

" Tab switch
" Equal to Command + Shift + [
nnoremap E gT
" Equal to Command + Shift + ]
nnoremap R gt
nnoremap W 1gt
" nnoremap T $gt
nnoremap T 1gtgT
" Tab move
" Move current tab to left
nmap th :tabm-1 <CR>
" Command + Shift + ,
nmap <D-S-,> :tabm-1 <CR>
" Move current tab to far left
nmap tH :tabm 0 <CR>
" Move current tab to right
nmap tl :tabm+1 <CR>
" Command + Shift + .
nmap <D-S-.> :tabm+1 <CR>
" Move current tab to far right
nmap tL :tabm $<CR>

" Undo and redo
" https://youtrack.jetbrains.com/issue/VIM-3881/Undo-u-in-IdeaVim-is-broken-on-remote-development-environments
" nmap u <Action>($Undo)
" nmap U <Action>($Redo)

" Input method
" IdeaVimExtension
set keep-english-in-normal-and-restore-in-insert
let context_aware=1
" set keep-english-in-normal

" Plugins
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" vim-surround
set surround

" vim-multiple-cursors
set multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>AllOccurrences
xmap g<C-n> <Plug>AllOccurrences
nmap <C-s> <Plug>SkipOccurrence
xmap <C-s> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
" IDEA multiple cursors
nmap gm vipVxu

" IdeaVim-EasyMotion
set easymotion
" Search for full-screen words
map <Leader>w <Plug>(easymotion-bd-w)
" Search for full-screen matches
map <Leader>f <Plug>(easymotion-s)

" IDEA action
" Window
map tt <Action>(ActivateProjectToolWindow)
map ss <Action>(SelectInProjectView)

" Coding
map <leader>rn <Action>(RenameElement)
" map sn <Action>(GotoNextError)
" map sp <Action>(GotoPreviousError)
" Equal ⌘ + ⌥ + Left
map <C-o> <Action>(Back)
" Equal ⌘ + ⌥ + Right
map <C-i> <Action>(Forward)
map <leader>e <Action>(ShowErrorDescription)
map <leader>a <Action>(Annotate)
" File outline
map <leader>o <Action>(FileStructurePopup)
nnoremap gI gi
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gu <Action>(GotoSuperMethod)

" Git
map ge <Action>(Git.Branches)
map gh <Action>(Vcs.ShowTabbedFileHistory)
vmap gh <Action>(Vcs.ShowHistoryForBlock)
map gc <Action>(CompareClipboardWithSelection)
" Move to next vcs change
map gj <Action>(VcsShowNextChangeMarker)
" Move to prev vcs change
map gk <Action>(VcsShowPrevChangeMarker)
" Rollback changes
map <leader>rb <Action>(ChangesView.Revert)

" Bookmarks
" Bookmark list Equal ⇧ + F11
map ml <Action>(ShowBookmarks)
map mm <Action>(ToggleBookmark)
map m0 <Action>(ToggleBookmark0)
map m1 <Action>(ToggleBookmark1)
map m2 <Action>(ToggleBookmark2)
map m3 <Action>(ToggleBookmark3)
map m4 <Action>(ToggleBookmark4)
map m5 <Action>(ToggleBookmark5)
map m6 <Action>(ToggleBookmark6)
map m7 <Action>(ToggleBookmark7)
map m8 <Action>(ToggleBookmark8)
map m9 <Action>(ToggleBookmark9)
map ma <Action>(ToggleBookmarkA)
map mb <Action>(ToggleBookmarkB)
map mc <Action>(ToggleBookmarkC)
map md <Action>(ToggleBookmarkD)
map me <Action>(ToggleBookmarkE)
map mf <Action>(ToggleBookmarkF)
map mg <Action>(ToggleBookmarkG)
map mh <Action>(ToggleBookmarkH)
map mj <Action>(GotoNextBookmark)
map mk <Action>(GotoPreviousBookmark)

map <Up> <Action>(ResizeToolWindowUp)
map <Down> <Action>(ResizeToolWindowDown)
map <Left> <Action>(ResizeToolWindowLeft)
map <Right> <Action>(ResizeToolWindowRight)


" Debug
map <leader>d <Action>(ChooseDebugConfiguration)
" Stop
map <leader>s <Action>(RunToolbarMainMultipleStopAction)
" Equal ⌘ + F8
" Break point add or delete
map <leader>ba <Action>(ToggleLineBreakpoint)
" View break point list
map <leader>bl <Action>(ViewBreakpoints)

" View mode
map <leader>z <Action>(ToggleZenMode)

" Close all tabs
" map ca <Action>(CloseAllEditors)
" Close other tabs
nmap co <Action>(CloseAllEditorsButActive)
" Close left tabs
nmap ch <Action>(CloseAllToTheLeft)
" Close right tabs
nmap cl <Action>(CloseAllToTheRight)
" Close all tabs in group
nmap cg <Action>(CloseAllEditors)

" Move to opposite group
map mo <Action>(MoveEditorToOppositeTabGroup)

" Open tab in new window
map mw <Action>(EditSourceInNewWindow)

" Change splitter orientation
map sr <Action>(ChangeSplitOrientation)

" Format
map <leader>cf <Action>(ReformatCode)

" Search files
map <leader><leader> <Action>(GotoFile)

" Find in files
map <leader>/ <Action>(FindInPath)

" Replace
map \r <Action>(ReplaceInPath)

" Code action
map <leader>ca <Action>(ShowIntentionActions)

" Projects
map tp <Action>(ManageRecentProjects)

" Close project
map Q <Action>(CloseProject)
